body {
    margin: 0;
}
.div {
    width:100%;
    height: 100px;
    background-color: red;
}
.menu {
    width: 200px;
    height: 300px;
    background-color: #0000ff;
    float: left;

}
.conteudo {
    width: 500px;
    height: 300px;
    background-color: #00ff00;
    float: left;
}
.direito {
    width: 400px;
    height: 300px;
    background-color: bisque;
    float: right;
}