body {
    background-color:#0000ff;
    color:#ffffff;
}
h1 {
    color: #ff0000;
}
img {
    width: 200px;
}
.teste {
    width: 500px;

}
#titulo {
    font-size: 42px;
}
.teste2 {
    background-color: #ffff00;
}